<!doctype html>
<html>
<head>
    <title>Plank: {{title}} - {{tagline}}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet "href="{{url_for('static', filename='master.css')}}"
		    type="text/css" media="screen" charset="utf-8">
</head>
<body>
    <div id="header">
        <div id="logo">
            Plank.
        </div>
        <ul id="toolbar">
            {% block toolbar %}
            <li>
		    <a href="#">Login</a>
	    </li>
            {% endblock %}
        </ul>
        <div id="title">
            <span class="about">About this Plank instance</span>
            <h1><a href="#">{{title}}</a></h1>
            <h2>{{tagline}}</h2>
        </div>
    </div>
    <div id="main">
        {% block content %}
        <p>OH GOD I'M SORRY THERE'S NO LAYOUT YET OH GOD OH FUCK I'M D</p>
        {% endblock %}
    </div>
    <p id="footer">
        <p>Plank Prototype / Proof of Concept - Not representative of anything.</p>
        <p>Layout shamelessly ripped from Play! tutorial blog.</p>
    </p>
</body>
</html>
