{% extends 'main.html' %}
{% block content %}
	{% if nail %}
	<div class="nail">
		<h2 class="nail-title"><a href="#">{{nail.title}}</a></h2>
		<div class="nail-metadata">
			<span class="nail-userhash">
				<a href="#">{{nail.userhash}}</a> @
			</span>
			<span class="nail-date">{{nail.date}}</span>
			<span class="nail-replies">
				&nbsp;|&nbsp;
				{% if not nail.replies %}
				No 
				{% else %}
				{{ nail.replies }}
				{% endif %}
				replies(s).
			</span>
		</div>
		<div class="nail-content">
		{{nail.content}}
		</div>
	</div>
	{% else %}
	<div class="empty">
		A blank new world emerges.
	</div>
	{% endif %}
{% endblock %}
